<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (username) { %>
    <p>Hi! <%= username %>! Welcome to <%= title %></p>
    <% } else { %>
    <p>Welcome to <%= title %></p>
    <% } %>

    <% if (!token) { %>
    <div>
      <form id="forms" onsubmit="submitHandle()">
        <input type="text" name="username" value="" placeholder="example: admin">
        <input type="password" name="password" value="" placeholder="example: 123456">
        <div>
          <button type="submit">Login</button>
          <div id="info"></div>
        </div>
      </form>
    </div>
    <script>
      function submitHandle() {
        const form = document.forms[0];
        // const form = document.getElementById('forms')
        const data = {};
        if (form) {
          for(let elm of form) {
            if (elm.tagName === 'INPUT') {
              data[elm.name] = elm.value;
            }
          }
        }
        fetch('/api/login', {
          body: JSON.stringify(data), // must match 'Content-Type' header
          cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
          headers: {
            'user-agent': 'Mozilla/4.0 MDN Example',
            'content-type': 'application/json'
          },
          method: 'POST', // *GET, POST, PUT, DELETE, etc.
          mode: 'cors', // no-cors, cors, *same-origin
        })
        .then(response => response.json())
        .then(data => {
          if (data.token) {
            location.reload();
          } else {
            document.getElementById('info').innerHTML = data.message;
            setTimeout(function() {
              document.getElementById('info').innerHTML = '';
            }, 2000);
          }
        })
        return false;
      }
    </script>
    <% } else { %>
    <div>
      <a href="/logout">Logout</a>
      <button type="button" onclick="logout()">Logout</button>
      <script>
      function logout() {
        fetch('/api/logout', {
          cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
          credentials: 'same-origin', // include, same-origin, *omit
          headers: {
            'content-type': 'application/json'
          },
          method: 'POST', // *GET, POST, PUT, DELETE, etc.
        })
        .then(response => response.json())
        .then(data => {
          location.reload();
        })
      }
      </script>
    </div>
    <% } %>
  </body>
</html>
